doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=name
    body 
        h1 Express JS - Tutorials Point
        
        a(href=url4) Sign Up 
        br
        a(href=url5) Log In 
        br 
        a(href=url2) New User
        br
        a(href=url3) All Users 
        br
        a(href=url) Go Page 1
        br
        